.projects {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
  gap: 3rem;
}

.card {
  background-color: #665c54;
  width: 25%;
  border-radius: 5%;
  cursor: pointer;
  padding: 1rem;
}

.card h3 {
  color: #fbf1c7;
  text-align: center;
  font-size: 1rem;
}

.projects img {
  border-top-right-radius: "25px";
  border-top-left-radius: "25px";
}
