.projects {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.card {
  border-radius: "25px";
  background-color: "blue";
}

.projects img {
  border-top-right-radius: "25px";
  border-top-left-radius: "25px";
}
