.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 10%;
  padding-right: 10%;
}

.card {
  border-radius: "25px";
  background-color: "blue";
}

.projects img {
  border-top-right-radius: "25px";
  border-top-left-radius: "25px";
}
