.markdown pre {
  word-wrap: normal;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #161b22;
  border-radius: 3px;
}

.markdown code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: #282828;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.markdown {
  padding-left: 4rem;
  padding-right: 4rem;
  background-color: #665c54;
  color: #c9d1d9;
  max-width: 75%;
  margin: 0 auto;
}

.markdownContainer {
  background-color: #181a1b;
}

.markdown h1 {
  text-align: center;
}
